This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = '32jH4Xfn-h9J4p_wq1s7'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests
import pandas as pd

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?api_key=32jH4Xfn-h9J4p_wq1s7'
r = requests.get(url)
json_data = r.json()
json_data_2 = json_data['dataset_data']['data']
column_names = json_data['dataset_data']['column_names']
json_data_2
df = pd.DataFrame(json_data_2, columns = column_names)
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2020-08-12,90.80,92.95,88.30,92.65,NaN,182444.0,16598657.95,None,None,NaN
1,2020-08-11,94.90,95.40,90.35,90.75,NaN,168948.0,15524389.10,None,None,NaN
2,2020-08-10,94.00,96.00,93.75,94.55,NaN,183320.0,17388579.40,None,None,NaN
3,2020-08-07,90.20,93.15,89.80,92.95,NaN,109450.0,10126152.10,None,None,NaN
4,2020-08-06,91.45,92.00,90.35,91.10,NaN,140089.0,12778666.30,None,None,NaN

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [23]:
df2 = df[df['Date'].dt.year==2017].copy()

In [24]:
df2.reset_index()

,index,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,648,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,NaN
1,649,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,NaN
2,650,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,NaN
3,651,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,NaN
4,652,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
250,898,2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,NaN
251,899,2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,NaN
252,900,2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,NaN
253,901,2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,NaN
254,902,2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,NaN

In [25]:
df2.sort_values(by=['Date'], inplace=True, ignore_index=True)

In [26]:
df2.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,NaN
1,2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,NaN
2,2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,NaN
3,2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,NaN
4,2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,NaN

In [27]:
#Highest and lowest opening prices for 2017

highest_open_price = df2['Open'].max()
lowest_open_price = df2['Open'].min()
print('The highest opening price for AFX_X was ' + '$' + str(highest_open_price), 'in 2017')
print('The lowest opening price for AFX_X was ' + '$' + str(lowest_open_price), 'in 2017')

The highest opening price for AFX_X was $53.11 in 2017
The lowest opening price for AFX_X was $34.0 in 2017

In [36]:
# Largest change in any one day for 2017

df2['Daily Change'] = df2['Close'] - df2['Open']
largest_change = df2['Daily Change'].round(2).max()
print('The largest daily change for any one day was $'+str(largest_change))

The largest daily change for any one day was $1.64

In [40]:
# Calculating largest change between any two days

df2['Two Day Delta'] = df2['Close'].diff()
largest_two_day_delta = df2['Two Day Delta'].round(2).max()
print('The largest change between any two days was $'+str(largest_two_day_delta), 'in 2017')

The largest change between any two days was $1.72 in 2017

In [51]:
# Calculating the average trading volume in 2017

average_daily_trading_volume = df['Traded Volume'].mean()
average_daily_trading_volume = round(average_daily_trading_volume, 2)
print('The average daily trading volume in 2017 was $' + str(average_daily_trading_volume))

The average daily trading volume in 2017 was $58359.37